.square {
    border: 1px solid black;
    height: 30px;
    width: 30px;
}
.index-row {
    position: relative;
}
.index-cabecalho {
    display: inline-flex;
    margin-right: 5px;
}

.index {
    height: 30px;
    width: 30px;
}
.center {
    margin: 0 auto;
}

.processoCabecalho {
    display: inline-flex;
    margin-right: 20px;
}

.processoExecucao{
    display: inline-flex;
}

.processoNome {
    width: 25px;
    margin-right: 5px;
    margin-bottom: 0px;
}