.square {
    border: 1px solid black;
    height: 30px;
    width: 30px;
}
.index-row {
    position: relative;
}
.index-cabecalho {
    display: inline-flex;
    margin-right: 5px;
}

.index {
    height: 30px;
    width: 30px;
}
.center {
    margin: 0 auto;
}
.row {
    margin-right: auto;
    margin-left: auto;
}

.processo-cabecalho {
    display: inline-flex;
    margin-right: 20px;
}

.processo-execucao{
    display: inline-flex;
}

.processo-nome {
    width: 25px;
    margin-right: 5px;
    margin-bottom: 0px;
}

#processos-grid {
    margin-top: 10px;
}

.border {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.466) !important;
    border-radius: 5px;
}

#algoritmos-radio {
    width: 30%;
    float: left;
}

.processo-form-title {
    display: flow-root;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.466);
}